<h1>New Test</h1>
<%= render 'shared/flash_error_messages' %>
<%= form_with(model: @test) do |form| %>
  <div><%= form.label :user_id %></div>
  <div><%= form.text_field :user_id %></div>
  <div><%= form.label :content %></div>
  <div><%= form.text_area :content %></div>
  <div><%= form.submit %></div>
<% end %>
<%= link_to "Back to tests", tests_path %>